body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #252525;
    color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
    gap: 5vh 0;
  }

h3 {
  color: #999;
  display: inline-block;
  text-align: inherit;
  max-width: 85%;
}

header{
  margin:5px 0;
}